[Desktop Entry]
Name=Dictionary
Exec=cosmic-ext-applet-dict
Terminal=false
Type=Application
StartupNotify=true
NotShowIn=COSMIC
Icon=dev.cappsy.CosmicExtAppletDict
Categories=COSMIC;Utility;
Keywords=Folder;Manager;
MimeType=inode/directory;
NoDisplay=true
X-CosmicApplet=true
X-CosmicHoverPopup=Auto
